* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Dark Theme */

html.dark {
    background-color: #17181c;
}

.dark .blog-header {
    background-color: #23262f !important;
}

.dark a {
    color: #f5f5f5 !important;
}

.dark .header-search {
    background-color: #444851 !important;
}

.dark [data-icon="search"] {
    color: #f5f5f5 !important;
}

.dark .dropdown {
    background-color: #23262f !important;
    color: #f5f5f5;
}

/* Markdown样式 */
.blog-layout .content h1 {
    margin: 15px 0;
    text-align: center;
}

.blog-layout .content h2 {
    margin: 10px 0;
}

.blog-layout .content p {
    margin: 10px 0;
}

.blog-layout .content ul, .blog-layout .content ol {
    margin-left: 35px;
}

.dark .blog-layout .content h1, .dark .blog-layout .content h2, .dark .blog-layout .content ul, .dark .blog-layout .content ol {
    color: #E0E0E0;
}

.dark .blog-layout .content p {
    color: #BDBDBD;
}