---
import { DEFAULT_LANGUAGE } from "../../i18n/ui";
import { getLangFromUrl } from "../../i18n/utils";

const { options = {} } = Astro.props;
const url = Astro.url;
const currentLang = getLangFromUrl(url);
---
<select id="dropdown" class="dropdown">
  {options.map((item) => <option selected={currentLang === item.value ? true: false} value={item.value === DEFAULT_LANGUAGE ? '/':`${item.value}`}>{item.label}</option>)}
</select>

<style>
.dropdown {
  height: 100%;
  border: none;
  background-color: #f5f5f5;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown:focus-visible {
  outline: none;
}
</style>

<script>
  const dropDownSelect = document.querySelector('#dropdown') as HTMLSelectElement;
  dropDownSelect.addEventListener("change", () => {
    const selectedIndex = dropDownSelect.selectedIndex;
    console.log(selectedIndex);
    if (dropDownSelect.options[selectedIndex].value) {
      const url = dropDownSelect.options[selectedIndex].value;
      window.location = url as string & Location;
    }
  })
</script>
