---

---

<span class="blog-layout">
  <div class="content">
    <slot />
  </div>
</span>

<style>
  .blog-layout {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
  }
  .blog-layout .content {
    width: 60%;
  }
</style>
