---
import BlogHeader from "../components/header/index.astro";
---
<div class="blog-layout">
    <BlogHeader height="60px" background="#f5f5f5" />
    <div class="blog-content"></div>
</div>

<style>
    .blog-layout {
        display: flex;
        flex-direction: column;
    }

    .blog-content {
        height: calc(100vh - 60px);
    }
</style>